SERVICE_NAME=sb_project
SERVICE_PORT_REST=8080
SERVICE_PORT_GRPC=8081

POSTGRES_NAME=muv
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=p@5sW0rd
POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN=10
POSTGRES_MAX_IDLE=5

OMDB_HOST=https://www.omdbapi.com
OMDB_API_KEY=938a67e